---
---

<div class="my-10 flex items-center justify-center md:my-16">
    <div class="w-9/12 text-white md:w-[740px]">
      <h1 class="text-xl">Projects</h1>
      <p>
        I have have a strong passion for software development. What excites
        me most is the versatility it offers; I'm not confined to either
        frontend or backend development. My interests span various domains,
        extending beyond just web development to include mobile application
        development using frameworks like Flutter, as well as DevOps
        utilizing Linux, Docker, and Portainer as core tools.
      </p>

      <ul
        class="w-full list-none flex flex-col justify-start items-start gap-y-1 mt-5"
      >
        <li class="menu__item w-full">
          <button
            data-collapse-toggle="subnav--a"
            aria-label="A"
            class="menu__btn w-full h-8 px-2 flex items-center justify-between"
          >
            <span>Mobile Application</span>
            <span data-deg="1" class="btn__icon w-4"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#FFFFFF"
              >
                <path d="M24 24H0V0h24v24z" fill="none" opacity=".87"
                ></path>
                <path
                  d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                ></path>
              </svg></span
            >
          </button>
          <nav id="subnav--a" class="subnav hidden">
            <div class="px-5 py-4">
              <ul class="list-none">
                <li>
                  <strong>1.ParcelTH</strong>
                  <p class="px-2 py-2">
                    The parcel tracking application focused on a simple UI
                    and supported tracking services from various shipping
                    companies such as ThailandPOST and Kerry. Unfortunately,
                    the app has since been discontinued due to maintenance
                    constraints.
                  </p>
                  <div class="px-2 py-2">
                    <strong class="text-sm">Figma UI</strong>
                    <div class="grid grid-cols-3 gap-4 mx-5 mt-2">
                      <img
                        width="100%"
                        src="/parcel_th/Home.png"
                        alt=""
                        srcset=""
                      />
                      <img
                        class="min-h-[367px]"
                        width="100%"
                        src="/parcel_th/Track_Result.png"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                </li>
                <li>
                  <strong>2. tripnee</strong>
                  <p class="px-2 py-2">
                    Tripnee is a personal application designed to provide
                    maps related to geography and assist in daily life
                    planning, such as toll prices, traffic, and rainfall
                    forecasts. This application utilizes Flutter for
                    development and heavily relies on maps. Currently, the
                    application can search for nearby locations, calculate
                    distances from the current location, and display current
                    traffic conditions, including real-time rainfall
                    forecasts.
                  </p>
                  <div class="grid grid-cols-4 gap-4 mx-5 mt-2">
                    <img
                      width="100%"
                      src="/tripnee/tripnee_1.png"
                      alt=""
                      srcset=""
                    />
                    <img
                      width="100%"
                      src="/tripnee/tripnee_2.png"
                      alt=""
                      srcset=""
                    />
                    <img
                      width="100%"
                      src="/tripnee/tripnee_3.png"
                      alt=""
                      srcset=""
                    />
                    <img
                      width="100%"
                      src="/tripnee/tripnee_4.png"
                      alt=""
                      srcset=""
                    />
                  </div>
                </li>
                <li class="mt-5">
                  <strong>3. Developing Customer Service Apps</strong>
                  <p class="px-2 py-2">
                    Customer service apps, primarily using Flutter and
                    Ionic, depend on their purpose and have been developed
                    accordingly. For instance, tourism apps, blogs, and more
                    have been created.
                  </p>
                </li>
              </ul>
            </div>
          </nav>
        </li>
        <li class="menu__item w-full">
          <button
            data-collapse-toggle="subnav--b"
            aria-label="web application"
            class="menu__btn w-full h-8 px-2 flex items-center justify-between"
          >
            <span>PHP Web Application </span>
            <span data-deg="1" class="btn__icon w-4"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#FFFFFF"
              >
                <path d="M24 24H0V0h24v24z" fill="none" opacity=".87"
                ></path>
                <path
                  d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                ></path>
              </svg></span
            >
          </button>
          <nav id="subnav--b" class="subnav hidden">
            <div class="px-5 py-4">
              <ul class="list-none">
                <li>
                  <strong>1.Airlink WiFi: Since 2014</strong>
                  <p class="px-2 py-2">
                    Contributed with Airlink WiFi is the captive portal
                    software for access control. Airlink is the first system
                    to venture into the software development industry as a
                    versatile teacher in various aspects, such as Linux or
                    the PHP language. The system itself utilizes a framework
                    called Codeigniter. <br /><br />

                    <strong>In my part</strong>, I customized the settings.
                    At that time, the software only supported 64-bit Ubuntu
                    12.04 lts. So, I adjusted by integrating a newly
                    developed kernel into Version Airlink 2.0, making it
                    compatible with 32-bit systems. Additionally, I added
                    some features like password recovery when user forgot
                    the password and the ability to delete all messages.
                    Facebook Group : <a
                      class="underline"
                      href="https://www.facebook.com/groups/167157816807758"
                      >Airlink WiFi Hotspot</a
                    >
                  </p>
                  <div class="grid grid-cols-1 gap-2 mx-5 mt-2">
                    <img
                      width="100%"
                      src="/airlink/airlink.jpeg"
                      alt=""
                      srcset=""
                    />
                    <img
                      width="100%"
                      src="/airlink/airlink_login.jpeg"
                      alt=""
                      srcset=""
                    />
                  </div>
                  <div class="grid grid-cols-1 gap-5 mx-5 mt-2">
                    <img
                      width="100%"
                      src="/airlink/airlink_server.jpeg"
                      alt=""
                      srcset=""
                    />
                    <img
                      class="w-[55%]"
                      src="/airlink/airlink_accesspoint.jpeg"
                      alt=""
                      srcset=""
                    />
                  </div>
                </li>
                <li class="mt-5 border-b">
                  <strong>2.IcomCare: Since 2016</strong>
                  <p class="px-2 py-2">
                    Icomcare is a system designed to assist computer repair
                    shops with tasks such as recording repairs, tracking
                    repairs, and managing product sales and inventory. It is
                    a system developed entirely using knowledge from the
                    development of Airlink, which is based on the PHP
                    framework Codeigniter. The concept is to provide an
                    online platform where users who bring their computers
                    for repair can check the status of their machines by
                    accessing it through https://[store]-icc-s.com.<br /><br
                    />
                    <a
                      class="underline"
                      href="https://www.youtube.com/watch?v=70XS9f4a4fY"
                      target="_blank">Youtube</a
                    >
                    <br /><br />
                  </p>
                  <img
                    class="w-full"
                    src="/icomcare/icomcare.png"
                    alt=""
                    srcset=""
                  />
                </li>
                <li class="mt-5">
                  <strong>3.Mini web app</strong>
                  <p class="px-2 py-2">
                    The web application is small in size and serves as a
                    means to enhance personal skills, such as a homework
                    management system or a budgeting tool. All of these
                    applications are developed using PHP, leveraging the
                    knowledge acquired up to that point.
                  </p>
                  <div class="grid grid-cols-1 gap-5 mx-5 mt-2">
                    <img
                      width="100%"
                      src="/mini-project/homework.png"
                      alt=""
                      srcset=""
                    />
                    <img
                      class="100%"
                      src="/mini-project/moneyplan.png"
                      alt=""
                      srcset=""
                    />
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </li>
        <li class="menu__item w-full">
          <button
            data-collapse-toggle="subnav--c"
            aria-label="web application"
            class="menu__btn w-full h-8 px-2 flex items-center justify-between"
          >
            <span>NodeJS Web Application </span>
            <span data-deg="1" class="btn__icon w-4"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#FFFFFF"
              >
                <path d="M24 24H0V0h24v24z" fill="none" opacity=".87"
                ></path>
                <path
                  d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                ></path>
              </svg></span
            >
          </button>
          <nav id="subnav--c" class="subnav hidden"></nav>
        </li>
      </ul>
    </div>
  </div>