---
---
<div class="my-10 flex items-center justify-center md:my-16">
    <div class="w-9/12 text-white md:w-[740px]">
      <h2 class="text-3xl font-bold">Technologies</h2>
      <div
        class="mt-10 grid grid-cols-2 gap-y-5 md:grid-cols-3 md:gap-x-4 md:gap-y-8"
      >
        <a
          href="https://astro.build/"
          class="cursor-pointer text-gray-300"
          aria-label="Astro Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
                src="/technologies/astrojs.png"
                alt="Astro Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">Astro</h3>
          </div>
        </a><a
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
          class="cursor-pointer text-gray-300"
          aria-label="JavaScript Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
                src="/technologies/js.png"
                alt="JavaScript Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">JavaScript</h3>
          </div>
        </a><a
          href="https://nodejs.org/en/"
          class="cursor-pointer text-gray-300"
          aria-label="Node.js Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
                src="/technologies/nodejs.png"
                alt="Node.js Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">Node.js</h3>
          </div>
        </a><a
          href="https://www.php.net/"
          class="cursor-pointer text-gray-300"
          aria-label="Python Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
                src="/technologies/php.png"
                alt="PHP Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">PHP</h3>
          </div>
        </a><a
          href="https://reactjs.org/"
          class="cursor-pointer text-gray-300"
          aria-label="React Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
                src="/technologies/react.webp"
                alt="React Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">React</h3>
          </div>
        </a>
        <a
          href="https://vuejs.org/"
          class="cursor-pointer text-gray-300"
          aria-label="Vue Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
               src="/technologies/vue.png"
                alt="vue Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">VueJS</h3>
          </div>
        </a>
        <a
          href="https://flutter.dev/"
          class="cursor-pointer text-gray-300"
          aria-label="Flutter Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
               src="/technologies/flutter.png"
                alt="Flutter Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">Flutter</h3>
          </div>
        </a><a
          href="https://tailwindcss.com/"
          class="cursor-pointer text-gray-300"
          aria-label="TailwindCSS Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
                src="/technologies/tailwind.png"
                alt="Tailwind CSS Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">Tailwind CSS</h3>
          </div>
        </a><a
          href="https://nextjs.org/"
          class="cursor-pointer text-gray-300"
          aria-label="Next.js Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
                src="/technologies/next-js.svg"
                alt="Next.js Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">Next.js</h3>
          </div>
        </a><a
          href="https://go.dev/"
          class="cursor-pointer text-gray-300"
          aria-label="Golang Documentation Website"
        >
          <div
            class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
          >
            <div
              class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
            >
              <img
                src="/technologies/go.png"
                alt="Golang Logo"
                loading="eager"
                width="30"
                height="30"
                decoding="async"
              />
            </div>
            <h3 class="text-[14px] md:text-[16px]">Go</h3>
          </div>
        </a>
        <a
        href="https://www.debian.org/"
        class="cursor-pointer text-gray-300"
        aria-label="linux Documentation Website"
      >
        <div
          class="flex items-center gap-4 duration-200 ease-in-out hover:scale-105"
        >
          <div
            class="flex h-[60px] w-[60px] items-center justify-center rounded-full bg-neutral-600"
          >
            <img
             src="/technologies/debian.png"
              alt="vue Logo"
              loading="eager"
              width="30"
              height="30"
              decoding="async"
            />
          </div>
          <h3 class="text-[14px] md:text-[16px]">Linux</h3>
        </div>
      </a>
      </div>
    </div>
  </div>